
<!-- <mat-card>
    <mat-form-field>
        <input type='text' matInput [(ngModel)]='enteredTitle'>
    </mat-form-field>
    <mat-form-field>          
        <textarea matInput rows="10" [(ngModel)]='enteredContent'></textarea>
    <textarea rows="10" [value]="" #postPassed></textarea>       
    </mat-form-field>
    <button 
    mat-raised-button
    color="primary"
     (click)="onAddPost($)">Save Post</button>
</mat-card> -->

<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm = "ngForm">
        <mat-form-field>
        <input 
            type='text' 
            matInput 
            ngModel
            name="title"
            placeholder="Post title"
            required
            
            #title ="ngModel"
        >
        <mat-error *ngIf="title.invalid">Title must be added</mat-error>
        </mat-form-field>
        <mat-form-field>          
        <textarea 
            matInput rows="4" 
            ngModel
            name="content"
            placeholder="Post content"
            required
           
            #content = "ngModel">
        </textarea>
        <mat-error *ngIf="content.invalid">Content must be added</mat-error>
        <!-- <textarea rows="10" [value]="" #postPassed></textarea> -->       
        </mat-form-field>
        <button 
        mat-raised-button
        color="primary"
         type="submit">Save Post</button>

    </form>
    
</mat-card>


